<template>
  <div
    :class="`bg-${color}-100 text-${color}-700 hover:bg-${color}-500 hover:text-white`"
    class="px-4 h-6 rounded-full text-xs font-semibold flex items-center cursor-pointer"
  >
    <span v-if="showDot" :class="`bg-${color}-400`" class="w-2 h-2 rounded-full mr-1" />
    <slot />
  </div>
</template>
<script>
export default {
  props: {
    color: {
      type: String,
      default: 'blue'
    },
    showDot: {
      type: Boolean,
      default: true
    }
  }
}
</script>
