<template>
  <div>
    <h1 class="text-3xl font-bold text-gray-800">
      Browse
    </h1>
    <h2 class="text-xl text-gray-500 mb-4">
      Start browsing by...
    </h2>
    <b-nav pills>
      <b-nav-item to="/browse/species/" exact exact-active-class="active">
        Species
      </b-nav-item>
      <b-nav-item to="/browse/oxidants/" exact exact-active-class="active">
        Oxidants
      </b-nav-item>
      <b-nav-item to="/browse/references/" exact exact-active-class="active">
        References
      </b-nav-item>
    </b-nav>
  </div>
</template>
