<template>
  <div>
    <h1 class="mb-8">
      Browse
    </h1>
    <b-breadcrumb :items="items" class="shadow-inner" />
  </div>
</template>

<script>
export default {
  head () {
    return {
      title: `Browse by ${this.textBrowse.toLowerCase()}`
    }
  },

  computed: {
    textBrowse () {
      let text = ''
      switch (Object.keys(this.$route.query)[0]) {
        case 'specie':
          text = 'Species'
          break
        case 'oxidant':
          text = 'Oxidants'
          break
        case 'reference':
          text = 'References'
          break
      }
      return text
    },
    items () {
      return [
        {
          text: 'Home',
          to: '/'
        },
        {
          text: 'Browse',
          to: '/browse/species'
        },
        {
          text: this.textBrowse,
          to: `/browse/${Object.keys(this.$route.query)[0]}s`
        },
        {
          text: Object.values(this.$route.query)[0],
          active: true
        }
      ]
    }
  }
}
</script>

<style lang="postcss" scoped>
h1 {
  @apply text-3xl font-bold text-gray-800 mb-5;
}
.breadcrumb-item > a {
  @apply text-blue-800;
}
.breadcrumb-item > a:hover {
  @apply text-blue-900;
  background: linear-gradient(#f8e3a3, #f8e3a3) no-repeat; /* yellow-200 */
  background-size: 100% 0.3em;
  background-position: 0 88%;
}
</style>
