<template>
  <button
    :class="`bg-${color}-500 hover:bg-${color}-700 text-white font-bold py-2 px-4 rounded`"
    @click="handleClick"
    @focus="handleFocus"
    @blur="handleBlur"
  >
    <slot />
  </button>
</template>
<script>
export default {
  name: 'Button',
  props: {
    color: {
      type: String,
      default: 'blue'
    },
    tagName: {
      type: String,
      default: 'button'
    },
    type: {
      type: String,
      default: 'button'
    },
    href: {
      type: String,
      default: null
    },
    to: {
      type: [String, Object],
      default: undefined
    },
    size: {
      type: String,
      default: 'default',
      validator: value => ['default', 'sm', 'lg'].includes(value)
    },
    disabled: {
      type: Boolean,
      default: false
    },
    outline: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    handleClick (event) {
      this.$emit('click', event)
    },
    handleFocus (event) {
      this.$emit('focus', event)
    },
    handleBlur (event) {
      this.$emit('blur', event)
    },
    focus () {
      this.$el.focus()
    },
    blur () {
      this.$el.blur()
    }
  }
}
</script>
