<template>
  <form class="mb-8" @submit.prevent="filter" @reset.prevent="reset">
    <h2 class="text-lg font-bold text-gray-700 mb-1">
      Organism groups:
    </h2>
    <!-- Keycodes: [32, 188, 13] (Space, comma, Enter) Tab: 9 -->
    <v-select
      v-model="selectedSpecies"
      multiple
      placeholder="Start typing the organism"
      :close-on-select="false"
      label="species"
      :options="species"
      :reduce="species => species.species"
      :select-on-key-codes="[32, 188, 13]"
      class="bg-white rounded shadow leading-tight focus:outline-none focus:ring p-1 mb-4"
    />
    <h2 class="text-lg font-bold text-gray-700 mb-1">
      Oxidant agents:
    </h2>
    <v-select
      v-model="selectedOxidants"
      multiple
      placeholder="Start typing the oxidant"
      :close-on-select="false"
      label="oxidant"
      :options="oxidants"
      :reduce="oxidants => oxidants.oxidant"
      :select-on-key-codes="[32, 188, 13]"
      class="bg-white rounded shadow leading-tight focus:outline-none focus:ring p-1 mb-4"
    />
    <div class="mb-4">
      <b-form-checkbox v-model="filterGroups" switch class="text-lg font-bold text-gray-700 mb-1">
        Groups:
      </b-form-checkbox>
      <b-form-checkbox-group
        id="checkbox-group-2"
        v-model="checkedGroups"
        class="ml-1"
        stacked
      >
        <b-form-checkbox value="1">
          1. Includes all those MetO sites coming from high-throughput studies and nothing is known about the effect of their sulfoxidation just because it has not been addressed
        </b-form-checkbox>
        <b-form-checkbox value="2">
          2. The effect of the oxidation of residues in this group has been assesed, but no effect could be found
        </b-form-checkbox>
        <b-form-checkbox value="3" class="mb-2">
          3. All the methionine sites whose sulfoxidation has been reported to have an <strong>effect on at least one biological property</strong>
        </b-form-checkbox>
        <div v-show="checkedGroups.includes('3')" id="affected-properties" class="ml-8">
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 sm:pr-16">
            <b-form-group label="Gain in Protein Activity" label-for="gain-activity" />
            <b-form-radio-group
              id="gain-activity"
              v-model="gainActivity"
              :options="effectOptions"
              buttons
            />
            <b-form-group label="Loss in Protein Activity" label-for="loss-activity" />
            <b-form-radio-group
              id="loss-activity"
              v-model="lossActivity"
              :options="effectOptions"
              buttons
            />
            <b-form-group label="Gain Protein-Protein Interaction" label-for="gain-ppi" />
            <b-form-radio-group
              id="gain-ppi"
              v-model="gainPpi"
              :options="effectOptions"
              buttons
            />
            <b-form-group label="Loss Protein-Protein Interaction" label-for="loss-ppi" />
            <b-form-radio-group
              id="loss-ppi"
              v-model="lossPpi"
              :options="effectOptions"
              buttons
            />
            <b-form-group label="Effect on Protein Stability" label-for="effect-stability" />
            <b-form-radio-group
              id="effect-stability"
              v-model="effectStability"
              :options="effectOptions"
              buttons
            />
            <b-form-group label="Effect on Subcellular Localization" label-for="effect-location" />
            <b-form-radio-group
              id="effect-location"
              v-model="effectLocation"
              :options="effectOptions"
              buttons
            />
          </div>
        </div>
      </b-form-checkbox-group>
    </div>
    <met-button type="submit" class="mr-4">
      Filter
    </met-button><b-button type="reset" variant="link">
      Clear
    </b-button>
  </form>
</template>

<script>
import { mapState } from 'vuex'
import vSelect from 'vue-select'
import Button from '@/components/Button'

export default {
  components: {
    vSelect,
    'met-button': Button
  },

  data () {
    return {
      selectedSpecies: false,
      selectedOxidants: false,
      filterGroups: false,
      checkedGroups: [],
      effectOptions: [
        { text: 'Either', value: '2' },
        { text: 'Yes', value: '1' },
        { text: 'No', value: '0' }
      ],
      gainActivity: '2',
      lossActivity: '2',
      gainPpi: '2',
      lossPpi: '2',
      effectStability: '2',
      effectLocation: '2'
    }
  },

  computed: {
    ...mapState({
      species: state => state.species,
      oxidants: state => state.oxidants
    })
  },

  watch: {
    checkedGroups () {
      this.filterGroups = this.checkedGroups.length > 0
    }
  },

  beforeMount () {
    if (this.$route.query.specie) {
      this.selectedSpecies = this.$route.query.specie.split(',')
    }
    if (this.$route.query.oxidant) {
      this.selectedOxidants = this.$route.query.oxidant.split(',')
    }
    if (this.$route.query.group) {
      for (let i = 0; i < 3; i++) {
        if (this.$route.query.group.substr(i, 1) === '1') {
          this.checkedGroups.push(String(i + 1))
        }
      }
    }
    if (this.$route.query.property) {
      this.gainActivity = this.$route.query.property.substr(0, 1)
    }
  },

  methods: {
    filter () {
      const params = {}
      if (this.selectedSpecies.length > 0) {
        params.specie = this.selectedSpecies.join()
      }
      if (this.selectedOxidants.length > 0) {
        params.oxidant = this.selectedOxidants.join()
      }
      if (this.filterGroups) {
        let groups = ''
        groups += this.checkedGroups.includes('1') ? '1' : '0'
        groups += this.checkedGroups.includes('2') ? '1' : '0'
        groups += this.checkedGroups.includes('3') ? '1' : '0'
        params.group = groups
      }
      if (this.checkedGroups.includes('3')) {
        let affected = ''
        affected = this.gainActivity + this.lossActivity + this.gainPpi + this.lossPpi + this.effectStability + this.effectLocation
        params.category = affected
      }

      this.$router.push({ path: '/search', query: params })
    },
    reset () {
      this.selectedSpecies = false
      this.selectedOxidants = false
      this.filterGroups = false
      this.checkedGroups = []
      this.gainActivity = '2'
      this.lossActivity = '2'
      this.gainPpi = '2'
      this.lossPpi = '2'
      this.effectStability = '2'
      this.effectLocation = '2'
      this.$router.push({ path: '/search' })
    }
  }
}
</script>

<style lang="postcss">
.btn-group > .btn.active {
  @apply font-bold;
}
/* Note: if the style is scoped then the vue-select css doesn't work properly */
/* @import "../node_modules/vue-select/dist/vue-select.css"; */
.v-select {
  position: relative;
  font-family: inherit
}

.v-select, .v-select * {
  box-sizing: border-box
}

@-webkit-keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(1turn)
  }
}

@keyframes vSelectSpinner {
  0% {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(1turn)
  }
}

.vs__fade-enter-active, .vs__fade-leave-active {
  transition: opacity .15s cubic-bezier(1, .5, .8, 1)
}

.vs__fade-enter, .vs__fade-leave-to {
  opacity: 0
}

.vs--disabled .vs__clear, .vs--disabled .vs__dropdown-toggle, .vs--disabled .vs__open-indicator, .vs--disabled .vs__search, .vs--disabled .vs__selected {
  cursor: not-allowed;
  background-color: #f8f8f8
}

.vs__dropdown-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  padding: 0 0 4px;
  background: none;
  border: 1px solid rgba(60, 60, 60, .26);
  border-radius: 4px;
  white-space: normal
}

.vs__selected-options {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0 2px;
  position: relative
}

.vs__actions {
  display: flex;
  align-items: center;
  padding: 4px 6px 0 3px
}

.vs--searchable .vs__dropdown-toggle {
  cursor: text
}

.vs--unsearchable .vs__dropdown-toggle {
  cursor: pointer
}

.vs--open .vs__dropdown-toggle {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.vs__open-indicator {
  fill: rgba(60, 60, 60, .5);
  transform: scale(1);
  transition: transform .15s cubic-bezier(1, -.115, .975, .855);
  transition-timing-function: cubic-bezier(1, -.115, .975, .855)
}

.vs--open .vs__open-indicator {
  transform: rotate(180deg) scale(1)
}

.vs--loading .vs__open-indicator {
  opacity: 0
}

.vs__clear {
  fill: rgba(60, 60, 60, .5);
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px
}

.vs__dropdown-menu {
  display: block;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 1000;
  padding: 5px 0;
  margin: 0;
  width: 100%;
  max-height: 350px;
  min-width: 160px;
  overflow-y: auto;
  @apply shadow-md;
  border-top-style: none;
  border-radius: 0 0 4px 4px;
  text-align: left;
  list-style: none;
  background: #fff
}

.vs__no-options {
  text-align: center
}

.vs__dropdown-option {
  line-height: 1.42857143;
  display: block;
  padding: 3px 20px;
  clear: both;
  color: #333;
  white-space: nowrap
}

.vs__dropdown-option:hover {
  cursor: pointer
}

.vs__dropdown-option--highlight {
  @apply bg-blue-500;
  color: #fff
}

.vs__dropdown-option--disabled {
  background: inherit;
  color: rgba(60, 60, 60, .5)
}

.vs__dropdown-option--disabled:hover {
  cursor: inherit
}

.vs__selected {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid rgba(60, 60, 60, .26);
  border-radius: 4px;
  color: #333;
  line-height: 1.4;
  margin: 4px 2px 0;
  padding: 0 .25em
}

.vs__deselect {
  display: inline-flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 4px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  fill: rgba(60, 60, 60, .5);
  text-shadow: 0 1px 0 #fff
}

.vs--single .vs__selected {
  background-color: transparent;
  border-color: transparent
}

.vs--single.vs--open .vs__selected {
  position: absolute;
  opacity: .4
}

.vs--single.vs--searching .vs__selected {
  display: none
}

.vs__search::-webkit-search-cancel-button {
  display: none
}

.vs__search::-ms-clear, .vs__search::-webkit-search-decoration, .vs__search::-webkit-search-results-button, .vs__search::-webkit-search-results-decoration {
  display: none
}

.vs__search, .vs__search:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.4;
  font-size: 1em;
  border: 1px solid transparent;
  border-left: none;
  outline: none;
  margin: 4px 0 0;
  padding: 0 7px;
  background: none;
  box-shadow: none;
  width: 0;
  max-width: 100%;
  flex-grow: 1
}

.vs__search::-webkit-input-placeholder {
  color: inherit
}

.vs__search::-moz-placeholder {
  color: inherit
}

.vs__search:-ms-input-placeholder {
  color: inherit
}

.vs__search::-ms-input-placeholder {
  color: inherit
}

.vs__search::placeholder {
  color: inherit
}

.vs--unsearchable .vs__search {
  opacity: 1
}

.vs--unsearchable .vs__search:hover {
  cursor: pointer
}

.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
  opacity: .2
}

.vs__spinner {
  align-self: center;
  opacity: 0;
  font-size: 5px;
  text-indent: -9999em;
  overflow: hidden;
  border: .9em solid hsla(0, 0%, 39.2%, .1);
  border-left-color: rgba(60, 60, 60, .45);
  transform: translateZ(0);
  -webkit-animation: vSelectSpinner 1.1s linear infinite;
  animation: vSelectSpinner 1.1s linear infinite;
  transition: opacity .1s
}

.vs__spinner, .vs__spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em
}

.vs--loading .vs__spinner {
  opacity: 1
}

.vs__search::placeholder,
.vs__dropdown-toggle,
.vs__dropdown-menu {
  border: none;
}
</style>
