<template>
  <div id="proteins">
    <p class="mb-3">
      Showing {{ results.data.length }} of {{ totalProteinsCount }} proteins.
    </p>
    <table class="w-full responsive leading-tight rounded-lg sm:overflow-hidden sm:shadow-md mb-8">
      <thead class="text-white">
        <tr class="bg-blue-600">
          <th class="p-3 text-left">
            Protein ID
          </th>
          <th class="p-3 text-left">
            Protein Name
          </th>
          <th class="p-3 text-left">
            #&nbsp;Sites
          </th>
          <th class="p-3 text-left">
            Species
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="element in results.data"
          :key="element.prot_id"
          class="bg-white hover:bg-blue-100 rounded-lg mb-4 last:mb-0"
        >
          <td class="p-3" data-title="Protein ID">
            <nuxt-link :to="`/scan/${element.prot_id}`" class="bg-custom">
              {{ element.prot_id }}
            </nuxt-link>
          </td>
          <td class="p-3" data-title="Protein Name">
            <nuxt-link :to="`/scan/${element.prot_id}`" class="bg-custom">
              {{ element.prot_name }}
            </nuxt-link>
          </td>
          <td class="p-3" data-title="# Sites">
            {{ element.met_pos.split(',').length }}
          </td>
          <td class="p-3" data-title="Species">
            {{ element.species }}
          </td>
        </tr>
      </tbody>
    </table>
    <b-pagination
      v-if="totalProteinsCount > perPage"
      v-model="currentPage"
      :total-rows="totalProteinsCount"
      :per-page="perPage"
      aria-controls="results"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      loading: false
    }
  },

  computed: {
    ...mapState({
      results: state => state.result,
      perPage: state => state.perPage
    }),
    currentPage: {
      get () {
        return this.$route.query.page || 1
      },
      set (newValue) {
        const query = Object.assign({}, this.$route.query, { page: newValue })
        this.$router.push({ query })
      }
    },
    proteinsCount () {
      return [...new Set(this.results.data.map(m => m.prot_id))].length
    },
    totalProteinsCount () {
      return this.results.count
    }
  }
}
</script>
