<template>
  <div>
    <p class="mb-3">
      Showing {{ search.data.length }} sites ({{ proteinsCount }} proteins) from a total of {{ totalSitesCount }} sites.
      <a
        id="export-link"
        href="#"
        class="bg-custom-always"
        title="Export the results"
        @click.prevent="exportFiltered"
      >Export the results</a>
    </p>
    <table id="results" class="w-full responsive leading-tight rounded-lg sm:overflow-hidden sm:shadow-md mb-8">
      <thead class="text-white">
        <tr class="bg-blue-600">
          <th class="p-3 text-left">
            Prot. ID
          </th>
          <th class="p-3 text-left">
            Protein Name
          </th>
          <th class="p-3 text-left">
            MetO
          </th>
          <th class="p-3 text-left">
            Vivo/Vitro
          </th>
          <th class="p-3 text-left">
            Effect
          </th>
          <th class="p-3 text-left">
            Species
          </th>
          <th class="p-3 text-left">
            Oxidant/s
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="element of search.data"
          :key="element.prot_id+element.met_pos"
          class="bg-white hover:bg-blue-100 rounded-lg mb-4 last:mb-0"
        >
          <td class="p-3" data-title="Protein ID">
            <nuxt-link :to="`/scan/${element.prot_id}`" class="bg-custom">
              {{ element.prot_id }}
            </nuxt-link>
          </td>
          <td class="p-3" data-title="Protein Name">
            <nuxt-link :to="`/scan/${element.prot_id}`" class="bg-custom">
              {{ element.prot_name }}
            </nuxt-link>
          </td>
          <td class="p-3" data-title="MetO">
            {{ element.met_pos }}
          </td>
          <td class="p-3" data-title="Vivo/Vitro">
            {{ element.met_vivo_vitro }}
          </td>
          <td v-b-tooltip :title="FC[element.reg_id]" class="cursor-help p-3" data-title="Effect">
            {{ element.reg_id }}<fa :icon="['fas', 'info']" class="text-blue-700 ml-3" />
          </td>
          <td class="p-3" data-title="Species">
            {{ element.org_sp }}
          </td>
          <td class="p-3" :data-title="oxidantTitle(element.org_oxidant)">
            {{ element.org_oxidant }}
          </td>
        </tr>
      </tbody>
    </table>
    <b-pagination
      v-if="totalSitesCount > perPage"
      v-model="currentPage"
      :total-rows="totalSitesCount"
      :per-page="perPage"
      aria-controls="results"
    />
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      loading: false
    }
  },

  computed: {
    ...mapState({
      search: state => state.search,
      perPage: state => state.perPage,
      FC: state => state.FC
    }),
    currentPage: {
      get () {
        return this.$route.query.page || 1
      },
      set (newValue) {
        const query = Object.assign({}, this.$route.query, { page: newValue })
        this.$router.push({ query })
      }
    },
    proteinsCount () {
      return [...new Set(this.search.data.map(m => m.prot_id))].length
    },
    totalSitesCount () {
      return this.search.count
    }
  },

  methods: {
    // Scan
    getScan () {
      if (this.form.scan !== '' && this.form.scan !== this.lastScan) {
        this.$router.push(`/scan/${this.form.scan}`)
      }
    },
    oxidantTitle (text) {
      return text.includes(',') ? 'Oxidants' : 'Oxidant'
    },
    async exportFiltered () {
      this.loading = true
      try {
        this.$route.query.format = 'csv'
        const csv = await this.$axios.get('sites/search3', { responseType: 'blob', params: this.$route.query })
        if (csv.status === 200) {
          const fileLink = document.createElement('a')
          fileLink.href = URL.createObjectURL(new Blob([csv.data]), { type: 'text/csv' })
          fileLink.download = `metosite-export-${this.totalSitesCount}-sites.csv`
          fileLink.click()
          URL.revokeObjectURL(fileLink.href)
        }
      } catch (error) {
        console.error('There was a problem exporting: ' + error.message)
      }
      this.loading = false
    }
  }
}
</script>
