<template>
  <table class="w-full responsive leading-tight rounded-lg sm:overflow-hidden sm:shadow-md mb-8">
    <thead class="text-white">
      <tr
        v-for="n in entities.length"
        :key="n"
        class="bg-blue-600"
      >
        <th class="p-3 text-left">
          Species
        </th>
        <th class="p-3 text-left">
          # Proteins
        </th>
        <th class="p-3 text-left" width="110px">
          # Sites
        </th>
      </tr>
    </thead>
    <tbody class="flex-1 sm:flex-none">
      <tr
        v-for="entity in entities"
        :key="entity.species"
        class="bg-white hover:bg-blue-100 rounded-lg mb-4 last:mb-0"
      >
        <td class="p-3" data-title="Species">
          {{ entity.species }}
        </td>
        <td class="p-3" data-title="# Proteins">
          {{ entity.proteins }}
        </td>
        <td class="p-3 cursor-pointer" data-title="# Sites">
          {{ entity.sites }}
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'Table',

  props: {
    source: {
      type: String,
      default: 'species'
    }
  },

  computed: {
    ...mapState({
      entities: state => state.species
    })
  },

  mounted () {
    if (this.source === 'species') {
      this.loadSpecies()
    }
  },

  methods: mapActions({ loadSpecies: 'fetchSpecies' })
}
</script>

<style lang="postcss">
@media only screen and (max-width: 639px) {
  /* from https://css-tricks.com/responsive-data-tables/
  https://github.com/awerlang/angular-responsive-tables */
  .responsive {
    @apply w-full text-sm;
  }
  /* Force table to not be like tables anymore */
  /* table.responsive,*/
  .responsive > thead,
  .responsive > tbody,
  .responsive > tbody > tr,
  .responsive > thead > th {
    display: block;
  }
  /* Hide table headers (but not display: none, for accessibility) */
  .responsive > thead > tr,
  .responsive > thead > tr > th,
  .responsive > tbody > tr > th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .responsive > tbody > tr > td {
    /* Behave like a "row" */
    @apply relative flex text-left;
    padding-left: calc(27% + 0.75rem) !important;
    min-height: 1em;
  }

  .responsive > tbody > tr > td:first-child::before {
    @apply rounded-tl-lg;
  }
  .responsive > tbody > tr > td::before {
    /* Now like a table header */
    @apply absolute top-0 left-0 h-full font-bold text-left text-white bg-blue-600 border-b border-blue-700 p-3;
    width: 27%;
    content: attr(data-title); /* Label the data */
  }
  .responsive > tbody > tr > td:last-child::before {
    @apply rounded-bl-lg; /* border-blue-600 if we add this we'll hide the last border but I think it's OK */
  }
}
</style>
