<template>
  <footer class="flex justify-center flex-wrap bg-gray-200 sm:p-8 p-6 border-t border-gray-300 shadow-inner">
    <div class="container">
      <div class="sm:flex">
        <div class="sm:w-1/2 sm:mt-0 mt-8 mr-0 sm:mr-4 h-auto">
          <div class="mb-2">
            Citing us
          </div>
          <p class="text-gray-700 leading-normal">
            Héctor Valverde, Francisco R Cantón, Juan Carlos Aledo, MetOSite: an integrated resource for the study of methionine residues sulfoxidation. <a href="https://doi.org/10.1093/bioinformatics/btz462" rel="noopener" target="_blank">Bioinformatics: btz462</a>.
          </p>
        </div>
        <div class="sm:w-1/4 sm:mt-0 mt-8 mr-0 sm:mr-4 h-auto">
          <div class="mb-2">
            Collaborate
          </div>
          <ul class="text-gray-700 leading-normal">
            <li>Contribute to the collection</li>
          </ul>
        </div>
        <div class="sm:w-1/4 h-auto sm:mt-0 mt-8 mr-0 sm:mr-4">
          <div class="mb-2">
            Sponsors
          </div>
          <ul class="flex sm:flex-col text-gray-700 leading-normal">
            <li class="flex-1">
              <a href="https://ec.europa.eu/regional_policy/en/funding/erdf/" rel="noopener" title="European Regional Development Fund" target="_blank">ERDF</a>
            </li>
            <li class="flex-1">
              <a href="https://www.uma.es/sci/" rel="noopener" target="_blank">UMA: SCI</a>
            </li>
          </ul>
        </div>
        <div class="sm:w-1/4 h-auto sm:my-0 my-8">
          <div class="mb-2">
            Legal
          </div>
          <ul id="legal" class="text-gray-700 leading-normal">
            <li>
              <nuxt-link to="/privacy-policy">
                Privacy Policy
              </nuxt-link>
            </li>
          </ul>
          <div class="mb-2 mt-4">
            License
          </div>
          <ul class="text-gray-700 leading-normal">
            <li>
              <a href="http://www.gnu.org/licenses/gpl-3.0.html" rel="noopener" target="_blank">
                GPLv3
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>

<style lang="postcss" scoped>
footer a {
  @apply underline;
}
</style>
