<template>
  <nav
    class="flex items-center justify-between flex-wrap bg-blue-500 border-b border-blue-700 shadow-lg p-6"
  >
    <div id="logo" class="flex items-center flex-shrink-0 text-white mr-8">
      <nuxt-link to="/" class="font-semibold text-xl tracking-tight w-40">
        <img src="~/assets/metosite.svg" alt="MetOSite">
      </nuxt-link>
    </div>
    <div class="block md:hidden">
      <button
        class="flex items-center px-3 py-2 border rounded text-blue-100 border-blue-200 hover:text-white hover:border-white"
        :aria-label="show ? 'Close menu' : 'Expand menu'"
        @click="show = !show"
      >
        <svg class="h-3 w-3" stroke="currentColor" viewBox="0 0 24 24">
          <path
            :class="{'hidden': show, 'inline-flex': !show }"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="3"
            d="M2 4h20M2 12h20M2 20h20"
          />
          <path
            :class="{'hidden': !show, 'inline-flex': show }"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="3"
            d="M2 22L22 2M2 2L22 22"
          />
        </svg>
      </button>
    </div>
    <div class="w-full block flex-grow md:flex md:items-center md:w-auto" :class="{ 'hidden': !show }">
      <div class="text-sm md:flex-grow">
        <nuxt-link
          to="/browse/species"
          class="block mt-4 md:inline-block md:mt-0 text-blue-100 hover:text-white mr-4"
        >
          Browse
        </nuxt-link>
        <nuxt-link
          to="/search"
          class="block mt-4 md:inline-block md:mt-0 text-blue-100 hover:text-white mr-4"
        >
          Filter
        </nuxt-link>
        <nuxt-link
          to="/blog"
          class="block mt-4 md:inline-block md:mt-0 text-blue-100 hover:text-white mr-4"
        >
          Blog
        </nuxt-link>
        <nuxt-link
          to="/database"
          class="block mt-4 md:inline-block md:mt-0 text-blue-100 hover:text-white"
        >
          Database
        </nuxt-link>
      </div>
      <met-scan />
    </div>
  </nav>
</template>

<script>
import Scan from '@/components/Scan'

export default {
  components: {
    'met-scan': Scan
  },

  data () {
    return {
      show: true
    }
  }
}
</script>
