@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  @apply font-sans;
}

body {
  @apply bg-gray-100 text-gray-900;
}

@media only screen and (max-width: 639px) {
  .bg-custom {
    background: linear-gradient(#f8e3a3, #f8e3a3) no-repeat; /* yellow-200 */
    background-size: 100% 0.3em;
    background-position: 0 88%;
  }
  /* from https://css-tricks.com/responsive-data-tables/
  https://github.com/awerlang/angular-responsive-tables */
  .responsive {
    @apply w-full text-sm;
  }
  /* Force table to not be like tables anymore */
  /* table.responsive,*/
  .responsive > thead,
  .responsive > tbody,
  .responsive > tbody > tr,
  .responsive > thead > th {
    display: block;
  }
  /* Hide table headers (but not display: none, for accessibility) */
  .responsive > thead > tr,
  .responsive > thead > tr > th,
  .responsive > tbody > tr > th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .responsive > tbody > tr > td {
    /* Behave like a "row" */
    @apply relative flex text-left;
    padding-left: calc(27% + 0.75rem) !important;
    min-height: 1em;
  }

  .responsive > tbody > tr > td:first-child::before {
    @apply rounded-tl-lg;
  }
  .responsive > tbody > tr > td::before {
    /* Now like a table header */
    @apply absolute top-0 left-0 h-full font-bold text-left text-white bg-blue-600 border-b border-blue-700 p-3; /* leading-none */
    width: 28%;
    content: attr(data-title); /* Label the data */
  }
  .responsive > tbody > tr > td:last-child::before {
    @apply rounded-bl-lg; /* border-blue-600 if we add this we'll hide the last border but I think it's OK */
  }
}

.bg-custom:hover, .bg-custom-always {
  background: linear-gradient(#f8e3a3, #f8e3a3) no-repeat; /* yellow-200 */
  background-size: 100% 0.3em;
  background-position: 0 88%;
}

.nav-link {
  @apply inline-block rounded border border-white text-blue-500 py-1 px-3 mr-3;
}
.nav-link:hover {
  @apply border-gray-200 bg-gray-100;
}
/* Pills */
.nav-pills .nav-link {
  @apply rounded;
}
.nav-pills .nav-link.active,
.show > .nav-link {
  @apply border-blue-500 bg-blue-500 text-white font-bold;
}
