<template>
  <div>
    <met-browse-nav />
    <table class="w-full responsive leading-tight rounded-lg sm:overflow-hidden sm:shadow-md mt-5">
      <thead class="text-white">
        <tr class="bg-blue-600">
          <th class="p-3 text-left">
            Oxidant/Stimulus
          </th>
          <th class="p-3 text-left">
            # Sites
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="element of oxidants"
          :key="element.oxidants"
          class="bg-white shadow md:shadow-none hover:bg-blue-100 rounded-lg mb-4 last:mb-0"
        >
          <td class="p-3" data-title="Oxidant/Stimulus">
            {{ element.oxidant }}
          </td>
          <td class="p-3" data-title="# Sites">
            <nuxt-link :to="`/browse/sites?oxidant=${element.oxidant}`" class="bg-custom">
              {{ element.sites }}
            </nuxt-link>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import BrowseNav from '@/components/BrowseNav'

export default {
  components: {
    'met-browse-nav': BrowseNav
  },

  data () {
    return {
      loading: false
    }
  },

  async fetch ({ store, query }) {
    await store.dispatch('fetchOxidants')
  },

  head () {
    return {
      title: 'Browse by oxidants'
    }
  },

  computed: {
    ...mapState({
      oxidants: state => state.oxidants
    })
  }
}
</script>
