<template>
  <div>
    <met-browse-nav />
    <table class="w-full responsive leading-tight rounded-lg sm:overflow-hidden sm:shadow-md mt-5">
      <thead class="text-white">
        <tr class="bg-blue-600">
          <th class="p-3 text-left">
            Title
          </th>
          <th class="p-3 text-left">
            # Proteins
          </th>
          <th class="p-3 text-left">
            # Sites
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="element of references"
          :key="element.references"
          class="bg-white hover:bg-blue-100 rounded-lg mb-4 last:mb-0"
        >
          <td class="p-3 lg:max-w-xl" data-title="References">
            <a :href="element.link" target="_blank" rel="external" class="bg-custom">
              {{ element.title }}<fa :icon="['fas', 'external-link-alt']" class="fa-sm ml-2 mb-1" />
            </a>
          </td>
          <td class="p-3" data-title="# Proteins">
            <nuxt-link :to="`/browse/proteins?reference=${element.doi_id}`" class="bg-custom">
              {{ element.proteins }}
            </nuxt-link>
          </td>
          <td class="p-3" data-title="# Sites">
            <nuxt-link :to="`/browse/sites?reference=${element.doi_id}`" class="bg-custom">
              {{ element.sites }}
            </nuxt-link>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import BrowseNav from '@/components/BrowseNav'

export default {
  components: {
    'met-browse-nav': BrowseNav
  },

  data () {
    return {
      loading: false
    }
  },

  async fetch ({ store, query }) {
    await store.dispatch('fetchReferences')
  },

  head () {
    return {
      title: 'Browse by references'
    }
  },

  computed: {
    ...mapState({
      references: state => state.references
    })
  }
}
</script>
