<template>
  <div>
    <met-browse-breadcrumb />

    <div v-if="search.count > 0">
      <met-search-results />
    </div>
    <div v-else>
      <met-alert title="Protein not found" color="yellow">
        Make sure you have entered the correct UniProtId or query.
      </met-alert>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import BrowseBreadcrumb from '@/components/BrowseBreadcrumb'
import Alert from '@/components/Alert'
import SitesResults from '@/components/SitesResults'

export default {
  components: {
    'met-browse-breadcrumb': BrowseBreadcrumb,
    'met-alert': Alert,
    'met-search-results': SitesResults
  },

  async fetch ({ store, query }) {
    await store.dispatch('search', query)
  },

  computed: {
    ...mapState({
      search: state => state.search
    })
  },

  watch: {
    $route: 'fetchData'
  },

  methods: {
    async fetchData () {
      this.loading = true
      await this.$store.dispatch('search', this.$route.query)
      this.loading = false
    }
  }
}
</script>
