<template>
  <div>
    <met-browse-nav />
    <table class="w-full responsive leading-tight rounded-lg sm:overflow-hidden sm:shadow-md mt-5">
      <thead class="text-white">
        <tr class="bg-blue-600">
          <th class="p-3 text-left">
            Species
          </th>
          <th class="p-3 text-left">
            # Proteins
          </th>
          <th class="p-3 text-left">
            # Sites
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="element of species"
          :key="element.species"
          class="bg-white hover:bg-blue-100 rounded-lg mb-4 last:mb-0"
        >
          <td class="p-3" data-title="Species">
            {{ element.species }}
          </td>
          <td class="p-3" data-title="# Proteins">
            <nuxt-link :to="`/browse/proteins?specie=${element.species}`" class="bg-custom">
              {{ element.proteins }}
            </nuxt-link>
          </td>
          <td class="p-3" data-title="# Sites">
            <nuxt-link :to="`/browse/sites?specie=${element.species}`" class="bg-custom">
              {{ element.sites }}
            </nuxt-link>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import BrowseNav from '@/components/BrowseNav'

export default {
  components: {
    'met-browse-nav': BrowseNav
  },

  data () {
    return {
      loading: false
    }
  },

  async fetch ({ store, query }) {
    await store.dispatch('fetchSpecies')
  },

  head () {
    return {
      title: 'Browse by species'
    }
  },

  computed: {
    ...mapState({
      species: state => state.species
    })
  }
}
</script>
