<template>
  <div>
    <met-header />
    <b-container fluid="md" class="min-h-custom md:mt-10 sm:p-8 p-4 mb-0 md:rounded-t-lg bg-gray-50 md:border-l md:border-t md:border-r md:border-gray-200 md:shadow-md">
      <router-view />
    </b-container>
    <met-footer />
  </div>
</template>

<script>
import Footer from '@/components/TheFooter'
import Header from '@/components/TheHeader'

export default {
  name: 'App',

  components: {
    'met-footer': Footer,
    'met-header': Header
  }
}
</script>

<style lang="postcss">
/* @media (min-width: 640px) {
  .container {
    max-width: none;
  }
} */
</style>
