<template>
  <div>
    <h1 class="text-3xl font-bold text-gray-800 mb-4">
      <nuxt-link to="/blog">
        Blog
      </nuxt-link>
    </h1>
    <article>
      <div class="flex flex-wrap py-4">
        <aside class="w-full md:w-1/4 order-1 pr-8 pt-3">
          <p class="text-purple-600 text-left md:text-right">
            {{ post.date | dateformat }}
          </p>
        </aside>
        <main class="w-full md:w-3/4 order-2">
          <h1 class="leading-tight">
            {{ post.title }}
          </h1>
          <!-- eslint-disable-next-line vue/no-v-html -->
          <section v-html="post.content.rendered" />
        </main>
      </div>
    </article>
    <nuxt-link to="/blog" class="bg-custom text-blue-600">
      <fa :icon="['fas', 'backward']" class="mr-2" />Back to Blog
    </nuxt-link>
  </div>
</template>

<script>
export default {
  data () {
    return {
      slug: this.$route.params.slug
    }
  },

  async fetch ({ store }) {
    await store.dispatch('getPosts')
  },

  head () {
    return {
      title: this.post.title
    }
  },

  computed: {
    posts () {
      return this.$store.state.posts
    },
    post () {
      return this.posts.find(el => el.slug === this.slug)
    }
  }
}
</script>

<style lang="postcss">
main > h1, section > h1 {
  @apply text-3xl font-bold text-gray-800 mb-5;
}
section > pre {
  @apply overflow-auto border border-blue-300 bg-blue-50 text-blue-800 rounded px-3 py-2 mb-3;
}
section > h2 {
  @apply text-2xl font-bold text-gray-800 mb-4;
}
section > h3 {
  @apply text-xl font-bold text-gray-700 mb-3;
}
section > p {
  @apply mb-3;
}
section > p > a {
  background: linear-gradient(#f8e3a3, #f8e3a3) no-repeat; /* yellow-200 */
  background-size: 100% 0.3em;
  background-position: 0 88%;
}
section > ul {
  @apply list-disc ml-4 mb-4;
}
</style>
