<template>
  <div>
    <div id="blog">
      <h1 class="text-3xl font-bold text-gray-800 mb-4">
        Blog
      </h1>
      <div class="flex flex-wrap">
        <aside class="w-full lg:w-1/3 pr-0 md:pr-8 mb-4">
          <div class="border border-blue-200 bg-blue-50 rounded p-4">
            <div v-for="post in posts" :key="post.id">
              <h3 class="leading-tight font-bold text-blue-600">
                <nuxt-link :to="`/blog/${post.slug}`">
                  {{ post.title }}
                </nuxt-link>
              </h3>
              <p class="text-purple-600 -mt-1 mb-1">
                <small>{{ post.date | dateformat }}</small>
              </p>
            </div>
          </div>
        </aside>
        <main class="w-full lg:w-2/3">
          <div v-for="post in posts" :key="post.id" class="border-b border-gray-200 pb-4 mb-4">
            <h3 class="text-xl font-bold text-blue-600">
              <nuxt-link :to="`/blog/${post.slug}`">
                {{ post.title }}
              </nuxt-link>
            </h3>
            <p class="text-purple-600 -mt-1">
              <small>{{ post.date | dateformat }}</small>
            </p>
            <!-- eslint-disable-next-line vue/no-v-html -->
            <div class="text-gray-600 my-2" v-html="post.excerpt" />
            <b-button :to="`/blog/${post.slug}`" variant="outline-primary">
              Read more<fa :icon="['fas', 'long-arrow-alt-right']" class="mt-1 ml-2" />
            </b-button>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  head () {
    return {
      title: 'Blog'
    }
  },

  computed: {
    posts () {
      return this.$store.state.posts
    }
  },

  created () {
    this.$store.dispatch('getPosts')
  }
}
</script>
