<template>
  <div>
    <div id="database">
      <h1 class="text-3xl font-bold text-gray-800 mb-4">
        Database
      </h1>
      <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 mb-4">
        <div class="border border-blue-300 bg-white rounded shadow-lg p-4 flex flex-col justify-between leading-normal">
          <div class="mb-8">
            <div class="font-bold text-xl mb-2">
              Do you want to make use of our API?
            </div>
            <p class="text-gray-700 text-base">
              Click the button below to open in a new window the MetOSite API UI, powered by Swagger.
            </p>
          </div>
          <b-button href="/api-docs/" variant="primary" target="_blank" size="lg">
            <fa :icon="['fas', 'database']" class="mr-3" />REST API
          </b-button>
        </div>
        <div class="border border-blue-300 bg-white rounded shadow-lg pt-4 px-4 pb-1 flex flex-col leading-normal">
          <div class="mb-8">
            <div class="font-bold text-xl mb-2">
              Do you want a copy of our database<sup>†</sup>?
            </div>
            <p class="text-gray-700 text-base">
              You can choose between SQL (MySQL) and CSV format.
            </p>
            <small class="text-gray-700 text-sm">† Current version is from {{ version }}.</small>
          </div>
          <b-button-toolbar aria-label="Choose format and download the database">
            <b-form-radio-group
              id="btn-radios-1"
              v-model="selectedFormat"
              name="radios-btn-default"
              size="lg"
              class="mr-3 mb-3"
              buttons
            >
              <b-form-radio value="sql">
                <fa :icon="['fas', 'database']" title="SQL" class="fa-lg" />
              </b-form-radio>
              <b-form-radio value="csv">
                <fa :icon="['fas', 'file-csv']" title="CSV" class="fa-lg" />
              </b-form-radio>
            </b-form-radio-group>
            <b-button-group size="lg" class="flex-grow mr-3 mb-3">
              <b-button variant="primary" @click.prevent="downloadDB()">
                <fa :icon="['fas', 'download']" class="mr-3" />Download
              </b-button>
            </b-button-group>
            <b-button-group size="lg" class="mx-auto mb-3">
              <b-dropdown text="Older versions" variant="secondary" size="lg">
                <template #button-content>
                  <fa :icon="['fas', 'archive']" class="mr-3" />Older versions
                </template>
                <b-dropdown-item
                  v-for="database of databases"
                  :key="database.date"
                  @click.prevent="downloadDB(database.date)"
                >
                  {{ database.date }}
                </b-dropdown-item>
              </b-dropdown>
            </b-button-group>
          </b-button-toolbar>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      selectedFormat: 'csv'
    }
  },

  async fetch ({ store }) {
    if (!store.state.version) {
      await store.dispatch('fetchCount')
    }
    await store.dispatch('getDatabases')
  },

  head () {
    return {
      title: 'Database'
    }
  },

  computed: {
    ...mapState({
      version: state => state.version,
      databases: state => state.databases
    })
  },

  methods: {
    async downloadDB (database = this.version) {
      this.loading = true
      try {
        this.$route.query.file = database
        this.$route.query.format = this.selectedFormat
        const file = await this.$axios.get('download', { responseType: 'blob', params: this.$route.query })
        if (file.status === 200) {
          const fileLink = document.createElement('a')
          fileLink.href = URL.createObjectURL(new Blob([file.data]))
          fileLink.download = `${database}.${this.selectedFormat}`
          fileLink.click()
          URL.revokeObjectURL(fileLink.href)
        }
      } catch (error) {
        this.$bvToast.toast('There was a problem downloading file: ' + error.message, {
          ...this.toastOptions, variant: 'warning'
        })
      }
      this.loading = false
    }
  }
}
</script>
