<template>
  <div>
    <h1 class="text-3xl font-bold text-gray-800 mb-2">
      MetOSite
    </h1>
    <h2 class="text-2xl font-bold text-gray-800 mb-4">
      Where do I start?
    </h2>
    <ul class="list-disc ml-4 mb-4">
      <li>
        MetOSite is a collection of references to methionines that may be involved in regulatory processes.
      </li>
      <li>
        You can query this
        <nuxt-link to="/database" class="bg-custom-always">
          database
        </nuxt-link>
        in 3 different ways:
      </li>
    </ul>
    <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mb-8">
      <nuxt-link to="/browse/species" class="transition duration-300 ease-in-out transform hover:scale-105">
        <div class="border border-blue-300 bg-white rounded shadow-lg p-4 flex flex-col justify-between leading-normal">
          <div class="flex items-center">
            <div class="flex items-center mr-4">
              <div class="flex items-center w-16 h-16 bg-blue-100 rounded-full">
                <div class="mx-auto">
                  <fa :icon="['far', 'folder-open']" class="fa-2x text-blue-500 ml-1" />
                </div>
              </div>
            </div>
            <div>
              <p class="leading-none font-bold text-xl mb-2">
                Browse
              </p>
              <p class="text-gray-700 text-base">
                ...if you want to explore the database
              </p>
            </div>
          </div>
        </div>
      </nuxt-link>
      <nuxt-link to="/search" class="transition duration-300 ease-in-out transform hover:scale-105">
        <div class="border border-blue-300 bg-white rounded shadow-lg p-4 flex flex-col justify-between leading-normal">
          <div class="flex items-center">
            <div class="flex items-center mr-4">
              <div class="flex items-center w-16 h-16 bg-purple-100 rounded-full">
                <div class="mx-auto">
                  <fa :icon="['fas', 'filter']" class="fa-2x text-purple-500 mt-1" />
                </div>
              </div>
            </div>
            <div>
              <p class="leading-none font-bold text-xl mb-2">
                Filter
              </p>
              <p class="text-gray-700 text-base">
                ...if you want to run a custom query
              </p>
            </div>
          </div>
        </div>
      </nuxt-link>
      <nuxt-link to="/scan" class="transition duration-300 ease-in-out transform hover:scale-105">
        <div class="border border-blue-300 bg-white rounded shadow-lg p-4 flex flex-col justify-between leading-normal">
          <div class="flex items-center">
            <div class="flex items-center mr-4">
              <div class="flex items-center w-16 h-16 bg-green-100 rounded-full">
                <div class="mx-auto">
                  <fa :icon="['fas', 'search']" class="fa-2x text-green-500" />
                </div>
              </div>
            </div>
            <div>
              <p class="leading-none font-bold text-xl mb-2">
                Scan
              </p>
              <p class="text-gray-700 text-base">
                ...to find metosites in a given protein
              </p>
            </div>
          </div>
        </div>
      </nuxt-link>
    </div>
    <div class="flex lg:flex-row flex-col">
      <div id="chart" class="lg:w-2/3 lg:mr-5 mb-5">
        <picture>
          <source srcset="/properties_intersects.webp" type="image/webp">
          <source srcset="/properties_intersects.png" type="image/png">
          <img src="/properties_intersects.png" alt="Properties intersects">
        </picture>
      </div>
      <div id="info" class="lg:w-1/3 lg:h-auto text-sm p-4 mb-8">
        <h2 class="text-xl font-bold text-gray-800 mb-4">
          MetOSite structure
        </h2>
        <p class="text-gray-800 mb-2">
          MetOSite currently contains <strong>{{ count.sites }} methionine sulfoxide sites found in
            {{ count.proteins }} different proteins from {{ count.species }} species</strong>,
          with <i>Homo sapiens</i>, <i>Arabidopsis thaliana</i> and <i>Bacillus cereus</i> as the
          main contributors. Each collected site has been classified according to the effect
          of its sulfoxidation on the biological properties of the modified protein. Thus,
          MetOSite documents cases where the <strong>sulfoxidation of methionine</strong> leads to:
        </p>
        <ol class="list-roman text-gray-800 pl-8 mb-2">
          <li>gain of activity</li>
          <li>loss of activity</li>
          <li>increased protein-protein interaction susceptibility</li>
          <li>decreased protein-protein interaction susceptibility</li>
          <li>changes in protein stability</li>
          <li>changes in subcellular location</li>
        </ol>
        <p class="text-gray-800">
          Sometimes, the oxidation of a single site can affect a combination of these properties.
          The figure shown aside, graphically summarizes the frequency with which we find into
          <strong>MetOSite</strong> these regulatory sites.
        </p>
      </div>
    </div>
    <div id="presentation" class="xl:pr-64 lg:pr-32 mb-4">
      <met-alert title="About the research" color="yellow">
        <p class="leading-snug mb-2">
          The oxidation of protein-bound methionine to form methionine sulfoxide (MetO), has
          traditionally been regarded as an oxidative damage. However, growing evidences support
          the view of this reversible reaction as a regulatory post-translational modification (PTM).
        </p>
        <p class="leading-snug mb-2">
          Indeed, methionine oxidation can cause changes in the physicochemical properties
          of the whole protein, which, in turn, can affect protein function providing,
          in this way, a mechanism for redox regulation of a wide range of cellular processes.
        </p>
        <p class="leading-snug mb-2">
          The mission of <strong>MetOSite</strong> is to provide manually curated data
          related to experimentally confirmed sulfoxidation sites, and the effect
          of such PTM on the protein properties.
        </p>
      </met-alert>
    </div>
    <div id="last-updated" class="xl:pr-64 lg:pr-32 mb-4">
      <nuxt-link to="/database">
        <met-alert :title="`The database was last updated on ${$store.state.version}`" color="blue" />
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Alert from '@/components/Alert'

export default {
  components: {
    'met-alert': Alert
  },

  async fetch ({ store }) {
    await store.dispatch('fetchCount')
  },

  head () {
    return {
      title: 'Welcome'
    }
  },

  computed: {
    ...mapState({
      count: state => state.count
    })
  }
}
</script>
