<template>
  <div id="search">
    <h1 class="text-3xl font-bold text-gray-800 mb-5">
      Filter
    </h1>
    <div class="lg:max-w-3xl">
      <met-filter />
    </div>
    <div v-if="search.count > 0">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">
        Filtered results
      </h2>
      <met-search-results />
    </div>
    <div v-else>
      <met-alert title="No results found for that query" color="yellow">
        That filtering has returned no results.
      </met-alert>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Filter from '@/components/Filter'
import SitesResults from '@/components/SitesResults'
import Alert from '@/components/Alert'

export default {
  components: {
    'met-filter': Filter,
    'met-search-results': SitesResults,
    'met-alert': Alert
  },

  async fetch ({ store, query }) {
    await store.dispatch('fetchSpecies')
    await store.dispatch('fetchOxidants')
    await store.dispatch('search', query)
  },

  head () {
    return {
      title: 'Filter'
    }
  },

  computed: {
    ...mapState({
      search: state => state.search
    })
  },

  watch: {
    $route: 'fetchData'
  },

  methods: {
    async fetchData () {
      this.loading = true
      await this.$store.dispatch('search', this.$route.query)
      this.loading = false
    }
  }
}
</script>

<style lang="postcss">
/* h1 {
  @apply text-3xl font-bold text-gray-800 mb-5;
}
h2 {
  @apply text-2xl font-bold text-gray-800 mb-4;
}
h3 {
  @apply text-lg font-bold text-gray-700 mb-1;
}
p {
  @apply text-gray-900 mb-2;
} */
</style>
