<template>
  <div>
    <h1 class="text-3xl font-bold text-gray-800 mb-4">
      Update database
    </h1>
    <div v-if="isProd">
      <h2 class="text-2xl font-bold text-gray-800 mb-4">
        Access from Production is forbidden
      </h2>
    </div>
    <div v-else id="database" class="grid gap-8 grid-cols-1 lg:grid-cols-2 mb-4">
      <div class="border border-blue-300 bg-white rounded shadow-lg p-4 flex flex-col justify-between leading-normal">
        <div class="mb-4">
          <div class="font-bold text-xl mb-2">
            Do you want to update the database?
          </div>
          <p class="text-gray-700 text-base">
            Select your new version of the MetOSite database and then click the <strong>Upload & update</strong> button below.
          </p>
          <p class="text-gray-700 text-base">
            ℹ️ The file will be renamed to the present date format (<strong>{{ dateFormat }}</strong>)
            if it doesn't have said format beforehand.
          </p>
        </div>
        <b-form-group>
          <b-form-file
            v-model="file"
            accept=".sql"
            placeholder="Choose a file or drop it here..."
            drop-placeholder="Drop file here..."
            size="lg"
            required
            @change="parseFile"
          />
          <div v-if="fileError" class="text-purple-400">
            {{ fileError }}
          </div>
        </b-form-group>
        <b-button variant="primary" target="_blank" size="lg" class="mt-3" @click="uploadSQL">
          <fa :icon="['fas', 'database']" class="mr-3" />UPLOAD & UPDATE
        </b-button>
        <met-alert v-if="uploadedAlert" :title="uploadedText" :color="uploadedAlertColor" class="mt-4" />
      </div>
      <div />
      <div class="border border-blue-300 bg-white rounded shadow-lg p-4 flex flex-col justify-between leading-normal">
        <div class="mb-4">
          <div class="font-bold text-xl mb-2">
            ...or copy the current database to Production?
          </div>
          <p class="text-gray-700 text-base">
            The current database is: <strong>{{ version }}</strong>.
          </p>
        </div>
        <b-form-checkbox v-model="securitySwitchOn" switch class="text-lg font-bold text-gray-700 mb-1">
          Security switch
        </b-form-checkbox>
        <b-button
          :disabled="!securitySwitchOn"
          variant="primary"
          target="_blank"
          size="lg"
          class="mt-3"
          @click="copyToProd"
        >
          <fa :icon="['fas', 'database']" class="mr-3" />COPY TO PRODUCTION
        </b-button>
        <met-alert v-if="copiedAlert" :title="copiedText" :color="copiedAlertColor" class="mt-4" />
      </div>
      <div />
      <div class="border border-blue-300 bg-white rounded shadow-lg p-4 flex flex-col justify-between leading-normal">
        <div class="font-bold text-xl mb-2">
          Database versions
        </div>
        <table class="w-full responsive leading-tight rounded-lg sm:overflow-hidden sm:shadow-md mt-5">
          <thead class="text-white">
            <tr class="bg-blue-600">
              <th class="text-left p-3">
                Date
              </th>
              <th class="w-24 p-3">
                Load
              </th>
              <th class="w-24 p-3">
                Delete
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="database of databases"
              :key="database.date"
              class="bg-white hover:bg-blue-100 rounded-lg mb-4 last:mb-0"
            >
              <td class="p-3 lg:max-w-xl" data-title="Date">
                <a href="" rel="external" class="bg-custom" @click.prevent="downloadDB(database.date)">
                  {{ database.date }}<fa :icon="['fas', 'download']" class="hover:text-blue-600 ml-2" />
                </a>
                <!-- <a href="" rel="external" @click.prevent="downloadDB(database.date)">
                  <fa :icon="['fas', 'file-csv']" class="hover:text-purple-600 ml-4" />
                </a> -->
              </td>
              <td class="text-center p-3" data-title="Load">
                <a href="" @click.prevent="loadDB(database.date)">
                  <fa :icon="['fas', 'upload']" class="hover:text-green-600" />
                </a>
              </td>
              <td class="text-center p-3" data-title="Delete">
                <a href="" @click.prevent="deleteDB(database.date)">
                  <fa :icon="['fas', 'trash']" class="hover:text-yellow-600" />
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Alert from '@/components/Alert'

export default {
  components: {
    'met-alert': Alert
  },

  data () {
    return {
      file: null,
      fileError: null,
      uploadedText: false,
      uploadedResponseIsOk: null,
      copiedText: false,
      copiedResponseIsOk: null,
      securitySwitchOn: false,
      toastOptions: {
        title: 'MetOSite Admin',
        toaster: 'b-toaster-bottom-right',
        isStatus: true
      }
    }
  },

  async fetch ({ store }) {
    if (!store.state.version) {
      await store.dispatch('fetchCount')
    }
    await store.dispatch('getDatabases')
  },

  head () {
    return {
      title: 'Update database'
    }
  },

  computed: {
    ...mapState({
      version: state => state.version,
      databases: state => state.databases
    }),
    isProd () {
      return false
    },
    dateFormat () {
      const currentDate = new Date(Date.now())
      return `${currentDate.getFullYear()}-${('0' + (currentDate.getMonth() + 1)).slice(-2)}-${('0' + currentDate.getDate()).slice(-2)}`
    },
    uploadedAlert () {
      return this.uploadedText !== false
    },
    copiedAlert () {
      return this.copiedText !== false
    },
    uploadedAlertColor () {
      // I use yellow instead of red because I don't want to add more weight to the CSS size,
      // as red is not being used anywhere else at the moment
      return this.uploadedResponseIsOk ? 'green' : 'yellow'
    },
    copiedAlertColor () {
      return this.copiedResponseIsOk ? 'green' : 'yellow'
    }
  },

  methods: {
    parseFile () {
      if (this.file === null) {
        this.fileError = null
      }
    },
    async uploadSQL () {
      if (this.file === null) {
        this.fileError = 'Please select a file to be uploaded'
        return
      }
      try {
        const formData = new FormData()
        formData.append('file', this.file)
        const { reply, ok } = await this.$axios.$post('upload', formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        this.uploadedText = reply
        this.uploadedResponseIsOk = ok
        if (ok) {
          this.$store.dispatch('getDatabases')
        }
      } catch (error) {
        this.$bvToast.toast('There was a problem uploading file: ' + error.message, {
          ...this.toastOptions, variant: 'warning'
        })
      }
    },
    async copyToProd () {
      try {
        const { reply, ok } = await this.$axios.$post('deploy', { file: this.$store.state.version })
        this.copiedText = reply
        this.copiedResponseIsOk = ok
      } catch (error) {
        this.$bvToast.toast('There was a problem uploading file: ' + error.message, {
          ...this.toastOptions, variant: 'warning'
        })
      }
    },
    async downloadDB (database) {
      this.loading = true
      try {
        this.$route.query.file = database
        const file = await this.$axios.get('download', { responseType: 'blob', params: this.$route.query })
        if (file.status === 200) {
          const fileLink = document.createElement('a')
          fileLink.href = URL.createObjectURL(new Blob([file.data]))
          fileLink.download = `${database}.sql`
          fileLink.click()
          URL.revokeObjectURL(fileLink.href)
        }
      } catch (error) {
        this.$bvToast.toast('There was a problem downloading file: ' + error.message, {
          ...this.toastOptions, variant: 'warning'
        })
      }
      this.loading = false
    },
    loadDB (database) {
      this.$bvModal.msgBoxConfirm(`This will load ${database}.sql into alfa`, {
        title: 'Are you sure?',
        headerClass: 'text-xl font-semibold',
        centered: true
      })
        .then(async (ok) => {
          if (ok) {
            const loaded = await this.$store.dispatch('loadFile', { file: database })
            loaded
              ? this.$bvToast.toast('The database has been loaded successfully', {
                ...this.toastOptions, variant: 'success'
              })
              : this.$bvToast.toast('The database has not been loaded', {
                ...this.toastOptions, variant: 'warning'
              })
          }
        })
    },
    deleteDB (database) {
      this.$bvModal.msgBoxConfirm(`This will delete ${database}.sql from the server`, {
        title: 'Are you sure?',
        headerClass: 'text-xl font-semibold',
        centered: true
      })
        .then(async (ok) => {
          if (ok) {
            const deleted = await this.$store.dispatch('deleteFile', { file: database })
            deleted
              ? this.$bvToast.toast('The database has been deleted successfully', {
                ...this.toastOptions, variant: 'success'
              })
              : this.$bvToast.toast('The database has not been deleted', {
                ...this.toastOptions, variant: 'warning'
              })
          }
        })
    }
  }
}
</script>
