<template>
  <div>
    <div id="scan" class="xl:pr-64 lg:pr-32 mb-8">
      <h1>Scan</h1>
      <p>
        We have search the literature to find those protein-bound methionine
        residues that have been detected, either <i>in vitro</i> or
        <i>in vivo</i>, as MetO (strong experimental evidence should be
        provided). Thus, if you wish to know whether your protein of interest
        has been described to contain MetO sites, you can use this tool. Either
        introduce the UniProt ID or a word contained in the name of your
        protein.
      </p>
      <div class="pb-2" />
      <met-scan />
    </div>

    <div v-if="Object.keys(query).length > 0">
      <h2>The following proteins match your query:</h2>
      <p>Click on a protein ID to scan its corresponding protein</p>
      <table class="w-full responsive leading-tight rounded-lg sm:overflow-hidden sm:shadow-md mb-8">
        <thead class="text-white">
          <tr class="bg-blue-600">
            <th class="p-3 text-left">
              Protein ID
            </th>
            <th class="p-3 text-left">
              Protein Name
            </th>
            <th class="p-3 text-left">
              Species
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="element of query"
            :key="element.prot_id"
            class="bg-white hover:bg-blue-100 rounded-lg mb-4 last:mb-0"
          >
            <td class="p-3" data-title="Protein ID">
              <nuxt-link :to="`/scan/${element.prot_id}`" class="bg-custom">
                {{ element.prot_id }}
              </nuxt-link>
            </td>
            <td class="p-3" data-title="Prt. Name">
              <nuxt-link :to="`/scan/${element.prot_id}`" class="bg-custom">
                {{ element.prot_name }}
              </nuxt-link>
            </td>
            <td class="p-3" data-title="Species">
              {{ element.prot_sp }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div v-else-if="Object.keys(results).length > 0 && results.prot_name">
      <h2>{{ results.prot_name }} ({{ results.prot_id }})</h2>

      <div id="protein" class="sm:pl-2">
        <h3>Protein data:</h3>
        <table class="w-full flex flex-col rounded-lg leading-tight sm:text-base text-sm overflow-hidden sm:shadow-md shadow mb-8">
          <tr class="flex flex-row">
            <th class="w-1/4 bg-blue-600 border-b border-blue-700 text-white text-left p-3">
              Protein Name
            </th>
            <td class="w-3/4 bg-white hover:bg-blue-100 p-3">
              {{ results.prot_name }}
            </td>
          </tr>
          <tr class="flex flex-row">
            <th class="w-1/4 bg-blue-600 border-b border-blue-700 text-white text-left p-3">
              UniProt ID
            </th>
            <td class="w-3/4 flex bg-white hover:bg-blue-100 p-3">
              <div class="flex-initial">
                {{ results.prot_id }}
              </div>
              <div class="flex-initial">
                <a :href="`https://www.uniprot.org/uniprot/${results.prot_id}`" target="_blank" class="hover:text-blue-700 ml-4">
                  <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-16 mb-1" viewBox="0 0 494.8 111.85">
                    <defs>
                      <style>.a{fill:#73c3c3;}.b{fill:#006f9d;}</style>
                    </defs>
                    <path class="a" d="M165.8,64.9V99.5a11.05,11.05,0,1,1-22.1,0V66.3a16.6,16.6,0,1,0-33.2,0V99.5a11.1,11.1,0,1,1-22.2,0V66.3a38.7,38.7,0,1,1,77.4,0V65ZM0,73.2V12.6a11.1,11.1,0,0,1,22.2,0V71.8a16.6,16.6,0,0,0,33.2,0V12.6a11.1,11.1,0,1,1,22.2,0V71.8a38.7,38.7,0,1,1-77.4,0ZM199.3,99.5a11.1,11.1,0,0,1-22.2,0V38.8a11.1,11.1,0,0,1,22.2,0Zm.3-88.1A11.4,11.4,0,1,1,188.2,0,11.39,11.39,0,0,1,199.6,11.4Z" />
                    <path class="b" d="M293,40.2A38.64,38.64,0,0,0,254.3,1.6l-4.2-.1H222.5a11.14,11.14,0,0,0-11.1,11.1V99.4a11.05,11.05,0,1,0,22.1,0V23.7h20.8a16.55,16.55,0,1,1,0,33.1h-2.8a11.05,11.05,0,0,0,0,22.1h2.8A38.67,38.67,0,0,0,293,40.2Z" />
                    <path class="b" d="M334.4,49.7a16.54,16.54,0,0,0-16.6,16.5V99.4a11.05,11.05,0,1,1-22.1,0V66.2a38.64,38.64,0,0,1,38.7-38.6h6.9a11.05,11.05,0,0,1,0,22.1Z" />
                    <path class="b" d="M483.7,88.4h-4.2a16.62,16.62,0,0,1-16.6-16.6V49.7h19.3a11.1,11.1,0,1,0,0-22.2H462.9V22a11.05,11.05,0,0,0-22.1,0V71.8a38.67,38.67,0,0,0,38.7,38.7h4.2a11.05,11.05,0,1,0,0-22.1Z" />
                    <path class="b" d="M391,111.85A42.75,42.75,0,1,1,433.75,69.1,42.8,42.8,0,0,1,391,111.85Zm0-64.6A21.85,21.85,0,1,0,412.85,69.1,21.87,21.87,0,0,0,391,47.25Z" />
                  </svg>
                  <fa :icon="['fas', 'external-link-alt']" class="fa-sm ml-1 mb-1" />
                </a>
              </div>
            </td>
          </tr>
          <tr v-if="results.prot_nickname" class="flex flex-row">
            <th class="w-1/4 bg-blue-600 border-b border-blue-700 text-white text-left p-3">
              Nickname
            </th>
            <td class="w-3/4 bg-white hover:bg-blue-100 p-3">
              {{ results.prot_nickname }}
            </td>
          </tr>
          <tr class="flex flex-row">
            <th class="w-1/4 bg-blue-600 border-b border-blue-700 text-white text-left p-3">
              Gene Name
            </th>
            <td class="w-3/4 bg-white hover:bg-blue-100 p-3">
              {{ results.gene_name }}
            </td>
          </tr>
          <tr v-if="results.prot_nickname" class="flex flex-row">
            <th class="w-1/4 bg-blue-600 border-b border-blue-700 text-white text-left p-3">
              Specie
            </th>
            <td class="w-3/4 bg-white hover:bg-blue-100 p-3">
              {{ results.prot_sp }}
            </td>
          </tr>
          <tr v-if="results.prot_sub" class="flex flex-row">
            <th class="w-1/4 bg-blue-600 border-b border-blue-700 text-white text-left p-3">
              Protein location
            </th>
            <td class="w-3/4 bg-white hover:bg-blue-100 p-3">
              {{ results.prot_sub }}
            </td>
          </tr>
          <tr v-if="results.prot_pdb" class="flex flex-row">
            <th class="w-1/4 bg-blue-600 border-b border-blue-700 text-white text-left p-3">
              PDB ID
            </th>
            <td class="w-3/4 bg-white hover:bg-blue-100 p-3">
              {{ results.prot_pdb }}
            </td>
          </tr>
          <tr class="flex flex-row">
            <th class="w-1/4 bg-blue-600 border-b border-blue-700 text-white text-left p-3">
              Sequence
            </th>
            <td class="w-3/4 bg-white hover:bg-blue-100 p-3">
              <div :class="showComplete ? 'flex-1' : 'flex'">
                <code
                  ref="sequence"
                  class="cursor-pointer py-1"
                  :class="showComplete ? 'break-words' : 'truncate'"
                  :title="showComplete ? 'Click for truncated sequence' : 'Click for complete sequence'"
                  @click="toggleComplete"
                >
                  {{ results.prot_seq }}
                </code>
                <button type="button" class="inline-block relative z-10 p-2 -m-2 ml-1" title="Copy complete sequence" aria-label="Copy complete sequence" @click="copySequence">
                  <fa :icon="['far', 'copy']" class="hover:text-blue-700" />
                </button>
                <b-toast
                  id="copy-toast"
                  title="MetOSite"
                  toaster="b-toaster-bottom-right"
                  variant="success"
                  is-status
                >
                  The sequence has been copied to your clipboard
                </b-toast>
              </div>
            </td>
          </tr>
          <tr v-if="results.prot_note" class="flex flex-row">
            <th class="w-1/4 bg-blue-600 border-b border-blue-700 text-white text-left p-3">
              Notes
            </th>
            <td class="w-3/4 bg-white hover:bg-blue-100 p-3">
              {{ results.prot_note }}
            </td>
          </tr>
        </table>
      </div>

      <div id="metosites" class="sm:pl-2">
        <h3>MetOSites in this protein:</h3>
        <table class="w-full responsive leading-tight rounded-lg sm:overflow-hidden sm:shadow-md mb-8">
          <thead class="text-white">
            <tr class="bg-blue-600">
              <th class="p-3 text-left">
                Position
              </th>
              <th class="p-3 text-left">
                FC
              </th>
              <th class="p-3 text-left">
                Oxidant
              </th>
              <th class="p-3 text-left">
                Vivo/Vitro
              </th>
              <th class="p-3 text-left">
                Tissue
              </th>
              <th class="p-3 text-left">
                References
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="element in results.Metosites"
              :key="element.met_id"
              class="bg-white hover:bg-blue-100 rounded-lg mb-4 last:mb-0"
            >
              <td class="p-3" data-title="Position">
                {{ element.met_pos }}
              </td>
              <td v-b-tooltip :title="FC[element.reg_id]" class="cursor-help py-3" data-title="FC">
                {{ element.reg_id }}<fa :icon="['fas', 'info']" class="text-blue-700 ml-3" />
              </td>
              <td class="p-3" data-title="Oxidant">
                {{ element.org_oxidant }}
              </td>
              <td class="p-3" data-title="Vivo/Vitro">
                {{ element.met_vivo_vitro }}
              </td>
              <td class="p-3" data-title="Tissue">
                {{ element.org_tissue }}
              </td>
              <td class="p-3" data-title="References">
                <ul>
                  <li v-for="ref in element.References" :key="ref.href" class="mb-2 last:mb-0">
                    <a :href="ref.href" target="_blank" class="bg-custom">{{ ref.title }}</a>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="other-ptm" class="sm:pl-2">
        <h3>Other PTM sites:</h3>
        <p>
          Data regarding post-translational modifications others than
          sulfoxidation of methionyl residues were obtained either from
          <a href="http://phosphat.uni-hohenheim.de/download.html" target="_blank" class="bg-custom-always">PhosPhAt</a>
          if the protein belongs to Arabidopsis, or from
          <a href="https://www.phosphosite.org" target="_blank" class="bg-custom-always">PhosphoSitePlus</a>
          otherwise.
        </p>
        <div class="pb-2" />
        <table class="w-full responsive rounded-lg sm:overflow-hidden sm:shadow-md mb-4">
          <thead class="text-white">
            <tr class="bg-blue-600 mb-2 sm:mb-0">
              <th class="min-w-1/4 p-3">
                PTM Type
              </th>
              <th class="p-3">
                Sites
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="element in ptmTypes"
              :key="element"
              class="bg-white hover:bg-blue-100 rounded-lg mb-4 last:mb-0"
            >
              <td class="p-3" data-title="PTM Type">
                {{ element }}
              </td>
              <td class="flex flex-wrap pt-3 pl-2 pb-1" data-title="Sites">
                <badge v-for="site in results[element]" :key="site" color="purple" class="mr-3 mb-2">
                  <span>{{ site }}</span>
                </badge>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div v-else-if="$route.params.scan">
      <met-alert title="Protein not found" color="yellow">
        Make sure you have entered the correct UniProtId or query.
      </met-alert>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Scan from '@/components/Scan'
import Badge from '@/components/Badge'
import Alert from '@/components/Alert'

export default {
  components: {
    'met-scan': Scan,
    Badge,
    'met-alert': Alert
  },

  data () {
    return {
      showComplete: false,
      ptmTypes: [
        'Phosphorylation',
        'Acetylation',
        'Methylation',
        'Ubiquitination',
        'Sumoylation',
        'OGlcNAc',
        'RegPTM',
        'Disease'
      ]
    }
  },

  async fetch ({ store, params }) {
    await store.dispatch('scan', params.scan)
  },

  head () {
    return {
      title: Object.keys(this.results).length > 0 && this.results.prot_name
        ? `${this.results.prot_name} (${this.results.prot_id})`
        : 'Scan your protein'
    }
  },

  computed: {
    ...mapState({
      results: state => state.result,
      query: state => state.query,
      FC: state => state.FC
    })
  },

  methods: {
    copySequence () {
      navigator.clipboard.writeText(this.$refs.sequence.textContent.trim())
      this.$bvToast.show('copy-toast')
    },
    toggleComplete () {
      this.showComplete = !this.showComplete
    }
  }
}
</script>

<style lang="postcss" scoped>
h1 {
  @apply text-3xl font-bold text-gray-800 mb-5;
}
h2 {
  @apply text-2xl font-bold text-gray-800 mb-4;
}
h3 {
  @apply text-xl font-bold text-gray-700 mb-3;
}
p {
  @apply mb-2;
}
</style>
